{%extends "base.html" %}

    {% block mainbody %}
    <!--头部开始-->
    <header class="" >
        <div class="headpg">
            <div class="header-bg" id="headerbg">

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mt-4" style="text-align:center;">
                    <h4 class="d-inline-block" style="margin-top: 200px; line-height:75px;">XXXXXXXXXX</h4>
                    <p class="btn-bd-primary">
                        <a href="" class="btn btn-success btn-sm">立即开始</a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--头部结束-->


    <!--页脚开始-->
    <footer class="mt-4"></footer>
    <!--页脚结束-->
    {% endblock %}
